
@{
    ViewBag.Title = "EmployeeDetail";
    //Layout = null;

}



<div class="container">
    <h3>EmployeeDetail</h3>

    <table class="table table-striped" style="width:40%">
        <tr>
            <td>EmployeeName</td>
            <td>Ashish</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>London</td>

        </tr>
        <tr>
            <td>Department</td>
            <td>Development</td>
        </tr>

    </table>
</div>